.city {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #f3f3f3;
    text-align: center;
    padding: 1rem;
    font-size: 15px;
    margin-right: -16px;
    margin-left: -16px;
    & i {
    font-size: 20px;
 }
 h2 {
    font-size: 1rem;
    font-weight: 500;
 }
}

