@use "../utils/colors.scss";

footer {
    background-color: #353535;
    padding: 1rem 2rem;
    padding-left: 1.5rem;
}
footer h2 {
    font-family: "Shrikhand";
    font-weight: 500;
    color: white;
    font-size: 1rem;
}
footer p {
    padding: 0.2rem;
    color: white;
}
img {
    max-width: 100%;
}