.menus {
    background-color: #f6f6f6;

    h2 {
        margin-bottom: 2rem;
    }

    .menus__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        @media (max-width: 1000px) { 
        grid-template-columns:repeat(1, 1fr);
         }
    }

    .card {
        &__image { 
        background-image: url("../../images/logo/ohmyfood.png");
        height: 15rem;
        border-radius: 1rem;
        background-size: cover;
        }
        @for $i from 1 to 4 {
            
        }
        &__image-1 {
            background-image: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        }
        &__image-2 {
            background-image: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        }
        &__image-3 {
            background-image: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        }
        &__image-4 {
            background-image: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        }
    }
    }