@use "../utils/mixins";
@use "../utils/variables.scss";
@use "../utils/colors.scss";


.tuto {
    counter-reset: steps;
    margin-bottom: 2rem;
    & ol {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        @media (max-width: 1000px) {
            flex-direction: column ;
        }
    }
    & li {
        position: relative;
        left: -25px;
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: colors.$purple;
            width: 27px;
            height: 27px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left:- variables.$tuto-bullet-height;
            transform: translateY(-45%);
        }
        list-style-type: none ;
        background-color: #f6f6f6;
        margin-right: -25px;
        margin-top: 15px;
        padding: 1.5rem 2rem;
        border: none;

        flex-grow: 1;
        border-radius: 1rem;
        @include mixins.base-shadow-1;
        &:hover {
            @include mixins.transform-zoom;
        }
        & i.fas {
            margin-right: 1rem;
            color: colors.$lightgrey;
            font-size: 1.5rem;
        }
    }
}
.fonctionnement {
    margin-top: 30px;
    margin-bottom: -5px;

}
