@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0px;
  font-family: "Roboto", sans serif;
}

main {
  padding-bottom: 50px;
  padding: 0 7rem;
  background-color: #fafafa;
}
@media (max-width: 1000px) {
  main {
    padding: 0 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

.city {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 1rem;
  font-size: 15px;
  margin-right: -16px;
  margin-left: -16px;
}
.city i {
  font-size: 20px;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 2rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 1px 16px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  opacity: 0.9;
  height: 100vh;
  inset: 0;
  z-index: 1;
  animation: disappear 200ms 3s forwards;
  transform-origin: top;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.tuto {
  counter-reset: steps;
  margin-bottom: 2rem;
}
.tuto ol {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (max-width: 2000px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  left: -25px;
  list-style-type: none;
  background-color: #f6f6f6;
  margin-right: -25px;
  margin-top: 15px;
  padding: 1.5rem 2rem;
  border: none;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 27px;
  height: 27px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-45%);
}
.tuto li:hover {
  transform: scale(1.02);
}
.tuto li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

.fonctionnement {
  margin-top: 30px;
  margin-bottom: -5px;
}

#homepage .menus {
  background-color: #f6f6f6;
}
#homepage .menus h2 {
  margin-bottom: 2rem;
}
#homepage .menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  #homepage .menus .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#homepage .menus .menus__cards .new {
  position: relative;
}
#homepage .menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
#homepage .menus .card .card__image {
  border-radius: 1rem 1rem 0 0;
  height: 15rem;
  background-size: cover;
}
#homepage .menus .card__image-1 {
  background-image: url("/images/restaurants/image-1.jpg");
}
#homepage .menus .card__image-2 {
  background-image: url("/images/restaurants/image-2.jpg");
}
#homepage .menus .card__image-3 {
  background-image: url("/images/restaurants/image-3.jpg");
}
#homepage .menus .card__image-4 {
  background-image: url("/images/restaurants/image-4.jpg");
}
#homepage .menus .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
#homepage .menus .card__description h3,
#homepage .menus .card__description p {
  margin: 0.5rem;
  margin-top: 0rem;
}
#homepage .menus .card__description h3 {
  padding-top: 0.5rem;
}
#homepage .menus .card__description p {
  padding-bottom: 1rem;
}
#homepage .menus .card__description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
#homepage .menus .card__description .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#homepage .menus .card__description:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale 1.2;
}

main {
  padding-bottom: 1.5rem;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  padding-left: 1.5rem;
}

footer h2 {
  font-family: "Shrikhand";
  font-weight: 500;
  color: white;
}

footer p {
  padding: 0.2rem;
  color: white;
}

img {
  max-width: 100%;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  background-color: #f6f6f6;
}

#page-resto {
  overflow-x: hidden;
}
#page-resto header::before {
  position: absolute;
  display: flex;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f060";
  left: 1rem;
  height: 100%;
  top: 50%;
  transform: translateY(-20%);
  font-size: 20px;
}
#page-resto .banner img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center bottom;
}
#page-resto .resto__title {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  margin-top: -2rem;
  padding: 0 1rem;
}
#page-resto .resto__title h2 {
  font-family: "Shrikhand", "sans-serif";
  padding: 2rem 0.4rem;
}
#page-resto h3 {
  left: 17px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
#page-resto h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99e2d0;
}
#page-resto .menus {
  background-color: #f6f6f6;
  display: block;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  #page-resto .menus {
    grid-template-columns: 1fr;
  }
}
#page-resto .menus .menus__category {
  overflow: hidden;
}
#page-resto .menus .menus__category .menu-item {
  padding-left: 1rem;
  padding-top: 13px;
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 2px 1px 16px -3px #7e7e7e;
  animation: appear 1s;
  animation-fill-mode: both;
}
#page-resto .menus .menus__category .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
#page-resto .menus .menus__category .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
#page-resto .menus .menus__category .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
#page-resto .menus .menus__category .menu-item .menu-item__prix {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menus .menus__category .menu-item .menu-item_description {
  padding: 1rem;
  overflow: hidden;
}
#page-resto .menus .menus__category .menu-item .menu-item_description h4,
#page-resto .menus .menus__category .menu-item .menu-item_description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto .menus .menus__category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
  margin-top: -1rem;
  flex-wrap: wrap;
}
#page-resto .menus .menus__category .menu-item .menu-item__check i {
  display: grid;
  flex-wrap: wrap;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99e2d0;
}
#page-resto .menus .menus__category .menu-item:hover {
  cursor: pointer;
}
#page-resto .menus .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menus .menus__category .menu-item:hover i {
  animation: quarter-spin 0.5s ease-in-out;
}
@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
#page-resto section.order {
  margin-top: -2rem;
  height: 30vh;
  display: grid;
  place-items: center;
}
#page-resto section.order button {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 1px 16px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
#page-resto section.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
#page-resto .resto-main {
  padding: 0 0rem;
  background-color: #f6f6f6;
}

.espace {
  padding-bottom: 2rem;
}

.coeur {
  position: relative;
}
.coeur i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 1rem;
  padding-bottom: 7rem;
}
.coeur .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.coeur:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale 1.2;
}

/*# sourceMappingURL=style.css.map */
