@use "../colors.scss";
@use "../mixins.scss";
@use "../animations.scss";

body {
    background-color: colors.$lightergrey;
}
#page-resto { 
.banner img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center bottom;
}

.resto__title {
    position: relative;
    background-color: colors.$lightergrey;
    border-radius: 2rem 2rem 0 0;
    margin-top: -2rem;
    padding: 0 1rem; 
    h2 {
    font-family: "Shrikhand" , "sans-serif";
    padding: 2rem 1rem;
 }
}

h3 {
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 1.5rem;
        left: 0;
        height: 0.25rem;
        width: 3rem;
        background-color: colors.$color-tertiary;
    }
}

.menus {
    background-color: colors.$lightergrey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (max-width:1000px){
        grid-template-columns: 1fr;
    }
   .menus__category {
        overflow: hidden;
        .menu-item {
            display: flex;
            overflow: hidden;
            border-radius: 1rem;
            margin: 1rem;
            background-color: white;
            @include mixins.base-shadow;
            .menu-item__prix {
                margin-left: auto;
                font-weight: 900;
                padding: 1rem;
                display: flex;
                align-items: flex-end;
            }
            .menu-item_description {
                padding: 1rem;
                overflow: hidden;
                h4,
                p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .menu-item__check {
                display: grid;
                place-items: center;
                flex-shrink: 0;
                $button-width:4rem;
                border-radius: 0 1rem 1rem 0;
                background-color:colors.$color-tertiary;
                margin-right: -$button-width;
                width: $button-width;
                transition: margin-right 0.5s;
                i {
                    display: grid;
                    place-items: center;
                    background: white;
                    aspect-ratio: 1;
                    width: 2rem;
                    border-radius: 1rem;
                    color: colors.$color-tertiary;
                }
            }
            &:hover {
                cursor: pointer; 
                .menu-item__check {
                margin-right: 0;
                 }
                 i{
                    @include animations.quarterspin;
                    animation: quarter-spin 0.5s ease-in-out;
                 }
            }
        }
    }
}
section.order {
    height: 30vh;
    display: grid;
    place-items: center;
    button {
        @include mixins.base-button;
    }
}

.resto-main {
    padding: 0 1rem;
    background-color: colors.$lightergrey;
}
}