@use "../colors.scss";
@use "../mixins.scss";
@use "../animations.scss";

body {
    background-color: colors.$lightergrey;
}
#page-resto { 
    overflow-x: hidden;

header::before {
    @include mixins.font-awesome;
    content: "\f060";
    left: 1rem;
    height: 100%;
    top: 50%;
    transform: translateY(-20%);
    font-size: 20px;
}

.banner img {
    display: block;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center bottom;
}

.resto__title {
    position: relative;
    background-color: colors.$lightergrey;
    border-radius: 2rem 2rem 0 0;
    margin-top: -2rem;
    padding: 0 1rem; 
    h2 {
    font-family: "Shrikhand" , "sans-serif";
    padding: 2rem 0.4rem;
 }
}

h3 {
    left: 17px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 1.5rem;
        left: 0;
        height: 0.25rem;
        width: 3rem;
        background-color: colors.$color-tertiary;
    }
}

.menus {
    background-color: colors.$lightergrey;
    display:block;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (max-width:1000px){
        grid-template-columns: 1fr;
    }
   .menus__category {
        overflow: hidden;


        .menu-item {
            $numberofitems: 3;
            @for $i from 1 through $numberofitems {
                &:nth-child(#{$i}) {
                      animation-delay: 100ms * $i ;
                  }
              }
            padding-left: 1rem;
            padding-top: 13px;
            display: flex;
            overflow: hidden;
            border-radius: 1rem;
            margin: 1rem;
            background-color: white;
            @include mixins.base-shadow;
            animation: appear 1s;
            animation-fill-mode: both;
            .menu-item__prix {
                margin-left: auto;
                font-weight: 900;
                padding: 1rem;
                display: flex;
                align-items: flex-end;
            }
            .menu-item_description {
                padding: 1rem;
                overflow: hidden;
                h4,
                p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .menu-item__check {
                display: grid;
                place-items: center;
                flex-shrink: 0;
                $button-width:4rem;
                border-radius: 0 1rem 1rem 0;
                background-color:colors.$color-tertiary;
                margin-right: -$button-width;
                width: $button-width;
                transition: margin-right 0.5s;
                margin-top: -1rem;
                flex-wrap: wrap;
                i {
                    display: grid;
                    flex-wrap: wrap;
                    place-items: center;
                    background: white;
                    aspect-ratio: 1;
                    width: 2rem;
                    border-radius: 1rem;
                    color: colors.$color-tertiary;
                }
            }
            &:hover {
                cursor: pointer; 
                .menu-item__check {
                margin-right: 0;
                 }
                 i{
                    @include animations.quarterspin;
                    animation: quarter-spin 0.5s ease-in-out;
                 }
            }
        }
    }
}
section.order {
    margin-top: -2rem;
    height: 30vh;
    display: grid;
    place-items: center;
    button {
        @include mixins.base-button;
    }
}

.resto-main {
    padding: 0 0rem;
    background-color: colors.$lightergrey;
}
}

.espace { 
    padding-bottom: 2rem;
}

.coeur {
    position: relative;
    i {
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 1rem;
        padding-bottom: 7rem;
    }
    .fas {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
        @include mixins.gradient(1);
    } 
    &:hover .fas {
        opacity: 1;
        transform: translateY(-50%) scale (1.2);
        cursor: pointer;
    }   
}