@mixin gradient($opacity) {
    background-image: linear-gradient(
        to top,
         rgba(147, 86, 220, $opacity),
          rgba(255, 121, 218, $opacity)
          );
}
@mixin base-shadow {
    box-shadow: 2px 1px 16px -3px #000000;
}
@mixin base-shadow-1 {
    box-shadow: .25rem .25rem .5rem rgba(0,0,0,.125);
    
}
@mixin transform-zoom {
    transform: scale(1.02);   
}